.mt-3.p-3 {
  position: relative;
}

.w-2 {
  top: 15px;
  position: absolute;
  width: 20px;
  left: 10px;
}

.createPosition .w-2 {
  top: 15px;
}

.organizePosition .w-2 {
  top: 120px;
}

.visualizePosition .w-2 {
  top: 226px;
}

@media (max-width: 1023px) {
  .mt-3.p-3 {
    position: relative;
  }

  .w-2 {
    top: 50px;
    position: absolute;
    width: 20px;
    left: -8px;
  }

  .createPosition .w-2 {
    top: 52px;
  }

  .organizePosition .w-2 {
    top: 186px;
  }

  .visualizePosition .w-2 {
    top: 319px;
  }
}
